{% extends "dash.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}Update Profile{% endblock %}

{% block sidebar %}
<!-- General dashboard links -->
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('dash.dash') }}">
            <i class="bi-speedometer2"></i>
            Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('dash.photos') }}">
            <i class="bi-camera me-2"></i>
            Photos
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('dash.videos') }}">
            <i class="bi-camera-video me-2"></i>
            Videos
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('dash.reports') }}">
            <i class="bi-activity me-2"></i>
            Activity Reports
        </a>
    </li>
</ul>

<!-- Account management -->
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span>Manage account</span>
</h6>

<ul class="nav flex-column mb-2">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
            <i class="bi-person me-2"></i>
            Update profile
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('profile.addpet') }}">
            <i class="bi-clipboard2-plus me-2"></i>
            Add pet
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('profile.deletepet') }}">
            <i class="bi-clipboard2-minus me-2"></i>
            Delete pet
        </a>
    </li>
</ul>
{% endblock %}

{% block view %}
<h1 class="h2">Update Profile</h1>
{% endblock %}

{% block content %}
<!-- Container for page content -->
<div class="container">
    
    <form method="post">

        <!-- Disabled fields -->
        <div class="mb-3 row">
            <label for="userFN" class="col-sm-2 col-form-label fw-bold">First name</label>
            <div class="col-sm-5">
                <input type="text" readonly class="form-control-plaintext" id="userFN" value="{{ profile['first_name'] }}">
            </div>
        </div>
        
        <div class="mb-3 row">
            <label for="userLN" class="col-sm-2 col-form-label fw-bold">Last name</label>
            <div class="col-sm-5">
                <input type="text" readonly class="form-control-plaintext" id="userLN" value="{{ profile['last_name'] }}">
            </div>
        </div>
        
        <!-- Input fields -->
        <div class="mb-3 row">
            <label for="inputPhone" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="inputPhone" name="inputPhone" value="0{{ profile['phone_num'] }}">
            </div>
        </div>
        
        <div class="mb-3 row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-5">
                <input type="email" class="form-control" id="inputEmail" name="inputEmail" value="{{ profile['email_address'] }}">
            </div>
        </div>
        
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-5">
                <input type="password" class="form-control" id="inputPassword" name="inputPassword">
            </div>
        </div>
        
        <div class="mb-3 row">
            <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
            <div class="col-sm-5">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
            </div>
        </div>

        <div class="mx-auto">
            <input type="submit" value="Update" class="btn btn-orange mb-3 mx-auto">
        </div>

    </form>

    <!-- Space to show confirmation message or errors -->
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    
</div> <!-- End of page container -->
{% endblock %}