<!DOCTYPE html>
<html lang="en">

    <!-- Metadata and title -->
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">

        <!-- Bootstrap core CSS -->
        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
            crossorigin="anonymous"
        >
        <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">

        <style>
           .bd-placeholder-img {
               font-size: 1.125rem;
               text-anchor: middle;
               -webkit-user-select: none;
               -moz-user-select: none;
               user-select: none;
           }

           @media (min-width: 768px) {
               .bd-placeholder-img-lg {
                   font-size: 3.5rem;
               }
           }
        </style>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}">

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
        <title>PetMonitor | {% block title %} {{ displayname }}'s Dashboard {% endblock %}</title>

        {% endblock %}
    </head>

    <!-- Content -->
    <body>
        
        <!-- Stickied top navigation bar -->
        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand bg-dark col-md-3 col-lg-2 me-0 px-3" href="{{ url_for('dash.dash') }}">
                <img src="{{ url_for('static', filename='imgs/logo.jpg') }}" alt="PetMonitor Logo" style="width:60px;" class="rounded-pill">
                <span class="ms-3">PetMonitor</span>
            </a>

            <!-- Navigation toggle for smaller screens -->
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Display current date -->
            <div class="w-100 px-3 text-white">{{ date }}</div>
            
            <!-- Log out button -->
            <div class="navbar-nav">
                <div class="nav-item text-nowrap">
                    <a class="nav-link px-3" href="{{ url_for('auth.logout') }}">Log out</a>
                </div>
            </div>
        </header>
        
        <!-- Page container -->
        <div class="container-fluid">
            <div class="row">

                <!-- Navigation sidebar -->
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="position-sticky pt-5">
                        
                        <!-- Dashboard views -->
                        {% block sidebar %}
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">
                                    <i class="bi-speedometer2"></i>
                                    Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('dash.photos') }}">
                                    <i class="bi-camera me-2"></i>
                                    Photos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('dash.videos') }}">
                                    <i class="bi-camera-video me-2"></i>
                                    Videos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('dash.reports') }}">
                                    <i class="bi-activity me-2"></i>
                                    Activity Reports
                                </a>
                            </li>
                        </ul>
                        
                        <!-- Account management -->
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Manage account</span>
                        </h6>

                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('profile.update') }}">
                                    <i class="bi-person me-2"></i>
                                    Update profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('profile.addpet') }}">
                                    <i class="bi-plus-circle me-2"></i>
                                    Add pet
                                </a>
                            </li>
                        </ul>
                        {% endblock %}

                    </div>
                </nav>
                
                <!-- Dashboard container -->
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        {% block view %}
                        <h1 class="h2">{{displayname}}'s Dashboard</h1>
                        {% endblock %}
                    </div>

                    <!-- Dynamic content uses Bootstrap grid system and will stack on smaller devices -->
                    {% block content %}
                    <div class="row">

                        <!-- First content column -->
                        <div class="col-sm-8">

                            <!-- Live feed -->
                            <div class="card bg-light w-auto mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">Live feed</h5>
                                    <img src="{{ url_for('static', filename='imgs/img_220309_164115.jpg') }}" class="img-fluid" alt="Placeholder for video feed">
                                </div>
                            </div>
                        </div>

                        <!-- Second content column -->
                        <div class="col-sm-4">

                            <!-- Pet summary -->
                            <div class="card bg-light mb-2">
                                <div class="card-body">
                                    <h5>Your pets</h5>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tr>
                                                <th>Name</th>
                                                <th>Species</th>
                                                <th>Age</th>
                                            </tr>
                                            {% for pet in pets %}
                                            <tr>
                                                <td>{{ pet['pet_name'] }}</td>
                                                <td>{{ pet['species_type'] }}</td>
                                                <!-- Check that stored pet age is not a year -->
                                                {% if pet['age'] >= year_not_age %}
                                                    <td>Unknown</td>
                                                {% else %}
                                                    <td>{{ pet['age'] }}</td>
                                                {% endif %}
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- Play sounds -->
                            <div class="card bg-light mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">Interact with your pets</h5>
                                    <form>
                                        <!-- Audio selection -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="audioBtn" id="call" onclick="previewAudio()">
                                            <label class="form-check-label" for="call">Call cat</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="audioBtn" id="meow" onclick="previewAudio()">
                                            <label class="form-check-label" for="meow">Meow</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="audioBtn" id="rustle" onclick="previewAudio()">
                                            <label class="form-check-label" for="rustle">Rustle paper</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="audioBtn" id="bird" onclick="previewAudio()">
                                            <label class="form-check-label" for="bird">Birdsong</label>
                                        </div>

                                        <!-- Audio controls -->
                                        <div class="d-flex justify-content-evenly flex-wrap mt-4">
                                            <div id="preview" class="flex-fill"><audio controls></audio></div>
                                            <div class="flex-fill"><input class="btn btn-dark mt-2" type="submit" value="Play sound"></div>
                                        </div>

                                    </form>

                                    <!-- JavaScript to handle sound previews -->
                                    <script>
                                        function previewAudio() {
                                          if(document.getElementById('call').checked) {
                                              document.getElementById("preview").innerHTML="<audio controls><source src=" + "{{ url_for('static', filename='audio/pspsps.mp3') }}" + " type=" + "audio/mpeg" + ">Your browser does not support the audio preview!</audio>";
                                            } else if(document.getElementById('meow').checked) {
                                                document.getElementById("preview").innerHTML=
                                                "<audio controls><source src=" + "{{ url_for('static', filename='audio/meow.mp3') }}" + " type=" + "audio/mpeg" + ">Your browser does not support the audio preview!</audio>";
                                            } else if(document.getElementById('rustle').checked) {
                                                document.getElementById("preview").innerHTML="<audio controls><source src=" + "{{ url_for('static', filename='audio/paper.mp3') }}" + " type=" + "audio/mpeg" + ">Your browser does not support the audio preview!</audio>";
                                            } else if(document.getElementById('bird').checked) {
                                                document.getElementById("preview").innerHTML="<audio controls><source src=" + "{{ url_for('static', filename='audio/birdsong.mp3') }}" + " type=" + "audio/mpeg" + ">Your browser does not support the audio preview!</audio>";
                                            } else {
                                                document.getElementById("preview").innerHTML="Select a sound to preview";
                                            }
                                        }
                                    </script>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                    {% endblock %}

                </main>

                {% block footer %}
                <!--<footer class="footer mt-auto py-3 text-center">
                    <div class="footer-container">
                        <span class="text-muted">&copy; 2022 Siobh&aacute;n Phelan | <a href="mailto:B00139195@mytudublin.ie">Contact</a></span>
                    </div>
                </footer>-->
                {% endblock %}

            </div>
        </div>  <!-- End of page container -->

        <!-- Bootstrap JS Bundle with Popper -->
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
            crossorigin="anonymous">
        </script>

        <script 
            src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" 
            crossorigin="anonymous">
        </script>
        
        <script 
            src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" 
            integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" 
            crossorigin="anonymous"></script>
        
            <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

    </body>

</html>

