{% extends "index.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block header %}
<h1 class="h3 mb-3 fw-normal">{% block title %}Register{% endblock%} an account</h1>
{% endblock %}

{% block content %}
<p class="user-note">* All fields are required</p>

<div id="register-form">
    <form method="post">
        <div class="form-floating floating-form-label form-row">
            <input type="text" class="form-control" id="floatingFN" name="floatingFN" placeholder="First Name" required>
            <label for="floatingFN">First name</label>
        </div>

        <div class="form-floating floating-form-label form-row">
            <input type="text" class="form-control" id="floatingLN" name="floatingLN" placeholder="Last Name" required>
            <label for="floatingLN">Last name</label>
        </div>

        <div class="form-floating floating-form-label form-row">
            <input type="text" class="form-control" id="floatingPhone" name="floatingPhone" placeholder="Phone Number" required>
            <label for="floatingPhone">Mobile number (e.g. 0851234567)</label>
        </div>

        <div class="form-floating floating-form-label form-row">
            <input type="email" class="form-control" id="floatingEmail" name="floatingEmail" placeholder="Email Address" required>
            <label for="floatingEmail">Email address</label>
        </div>

        <div class="form-floating mb-3 floating-form-label form-row">
            <input type="password" class="form-control" id="floatingPassword" name="floatingPassword" placeholder="Password" min-length="12" required>
            <label for="floatingPassword">Password (min 12 chars)</label>
        </div>

        <div class="form-floating mb-3 floating-form-label form-row">
            <input type="password" class="form-control" id="floatingConfirmPass" name="floatingConfirmPass" placeholder="Confirm Password" min-length="12" required>
            <label for="floatingConfirmPass">Confirm password</label>
        </div>

        <input type="submit" value="Register" class="w-100 btn btn-lg btn-orange mb-3">

    </form>

    <p>Already have an account? <a href="{{ url_for('auth.login') }}">Log In</a></p>

</div>

{% endblock %}
